<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440769110378-90e05jb40eo32qmjd36gjc76sgm73uqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440769110378-90e05jb40eo32qmjd36gjc76sgm73uqt</string>
	<key>API_KEY</key>
	<string>AIzaSyBRNxcCgMOSdEhr-4d_JJatNXni7BDkTMI</string>
	<key>GCM_SENDER_ID</key>
	<string>440769110378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alameensoft.hrworkflow</string>
	<key>PROJECT_ID</key>
	<string>workflowproject-b8179</string>
	<key>STORAGE_BUCKET</key>
	<string>workflowproject-b8179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440769110378:ios:8a8289d4a44027a8354513</string>
</dict>
</plist>